<div *ngIf="isSuccessful">
  <p>Password reset successfully. You can now <a routerLink="/login">log in</a> with your new password.</p>
</div>
<div *ngIf="isResetFailed">
  <p>Error: {{ errorMessage }}</p>
</div>
<div *ngIf="!isSuccessful && !isResetFailed">
  <form (ngSubmit)="onResetSubmit()">
    <div>
      <label for="password">New Password</label>
      <input type="password" id="password" [(ngModel)]="resetForm.password" name="password" required>
    </div>
    <button type="submit">Reset Password</button>
  </form>
</div>
