.translations {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.examples {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.example-block {
  display: inline-block;
}

.add-icon {
  justify-content: center;
}

.checkitout {
  padding-right: 2px;
  padding-bottom: 2px;
}

.spacer {
  flex: 1 1 auto;
}

.toggle-div {
  display: flex;
  margin: 0em 0 1em 0;
}

.blockWithButton {
  display: flex;
  flex-direction: row;
}

.buttons-section {
  display: flex;
  grid-column: span 2;
  justify-content: space-between;
}

.delete-btn, .save-btn, .decline-btn, .accept-btn {
  width: 45%;
  margin: 0.8em;
}

.toast-link {
  width: 400px;
}

::ng-deep .simple-snack-bar .mat-simple-snackbar {
  justify-content: center;
}

::ng-deep .mat-snack-bar-container {
  min-width: 250px !important;
  max-width: 250px !important;
  border-radius: 30px !important;
  background-color: #555555;
  color: white;
}

.create-btn-div {
  display: flex;
  grid-column: span 2;
  justify-content: center;
}

.create-btn {
  margin: 0.5em 0 0.5em;
  width: 70%;
  border-radius: 15px;
}

.meta-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meta-info {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.sharing-div {
  display: flex;
  float: right;
  flex-direction: row;
}

.creation {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 3em;
}

.expansion-panel {
  /*margin-top: 15px;*/
  grid-column: span 2;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
  padding-bottom: 0;
}

::ng-deep .mat-card-content {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .mat-card {
  /*change color of underline*/
  padding: 0 !important;
}

::ng-deep .mat-card {
  /*change color of underline*/
  padding: 0 !important;
}

::ng-deep .mat-expansion-panel-body {
  /*change color of underline*/
  padding-bottom: 12px !important;
}


.toggle {
  margin-left: .5em
}


.button-div {
  display: flex;
  justify-content: center;
}

.delete-example-btn-div {
  display: flex;
  align-items: center;
}

.example-chip-list {
  width: 100%;
}

.priority-slider {
  min-width: 90px;
  width: 90px;
  padding: 0;
}

.slide-label {
  align-items: center;
}

.slider-label-div {
  margin-top: 15px;
  display: flex;
}

.slider-toggle-div {
  margin: 0 0 3px 0;
}

.advanced-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 3em;
}
