<mat-card>
  <mat-accordion multi>
    <mat-card-content>
      <ng-container *ngIf="mode !== 'create'">
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Meta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">

            <div class="meta-panel">
              <ng-container *ngIf="mode !== 'create'">
                <ng-container *ngIf="mode === 'suggest'">
                  You don't have it in your stock
                  <div>
                    Sent by: {{ this.card.userId }}
                  </div>
                </ng-container>
                <div class="meta-info">
                  <mat-label class="toggle-label">Created: {{ card.created }}</mat-label>

                  <ng-container *ngIf=!!card.updated>
                    <mat-label class="toggle-label">Updated: {{ card.updated }}</mat-label>
                  </ng-container>

                  <!--                  <ng-container *ngIf=!!card.lastRepeat>-->
                  <!--                    <mat-label class="toggle-label">Last repeat: {{card.lastRepeat}}</mat-label>-->
                  <!--                  </ng-container>-->

                  <ng-container *ngIf=!!card.iteration>
                    <mat-label class="toggle-label">Iteration: {{ card.iteration }}</mat-label>
                  </ng-container>
                </div>

                <div class="sharing-div">

                  <ng-container *ngIf="!showFriendSearch()">
                    <button (click)="shareLinkToast()" [cdkCopyToClipboard]="getLink()"
                            mat-icon-button>
                      <mat-icon class="checkitout">share</mat-icon>
                    </button>
                    <button (click)="clickDirectShare()"
                            mat-icon-button>
                      <mat-icon class="checkitout">person_add</mat-icon>
                    </button>
                  </ng-container>

                  <ng-container *ngIf="showFriendSearch()">
                    <form (ngSubmit)="selectFriend()" class="form-input-autocomplete">
                      <mat-form-field [style.width.px]=140 color="accent">
                        <input #input [(ngModel)]="searchText" [formControl]="formControl"
                               [matAutocomplete]="auto"
                               matInput type="text">
                        <mat-autocomplete
                          #auto="matAutocomplete"
                          (optionSelected)='optionSelectedHandler($event.option.value)'>
                          <mat-option *ngFor="let option of filteredOptions | async  | slice : 0 : 5" [value]="option">
                            {{ option }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                  </ng-container>

                </div>
              </ng-container>

            </div>
          </div>
        </mat-expansion-panel>
      </ng-container>
      <form (keydown.enter)="$event.preventDefault()" [formGroup]="cardFormGroup">
        <mat-expansion-panel [expanded]="mode === 'create'" class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Body
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">
            <mat-card-content>
              <div class="creation">
                <div class="translations">
                  <div class="entry">
                    <mat-form-field class="" hideRequiredMarker>
                      <input [readonly]="viewOnly()" autocomplete="off" formControlName="entry" matInput
                             placeholder="entry">
                    </mat-form-field>
                  </div>
                  <ng-container formArrayName="translations">
                    <ng-container *ngFor="let translationForm of this.translations.controls; let i = index">
                      <div [formGroup]="translationForm" class="">
                        <mat-form-field>
                          <input (keydown.delete)="deleteTranslationConditional(i)"
                                 (keydown.enter)="addTranslation()"
                                 [readonly]="viewOnly()"
                                 formControlName="translation"
                                 matInput
                                 placeholder="translation">
                        </mat-form-field>
                        <button (click)="deleteTranslation(i)" *ngIf="this.translations.controls.length > 1"
                                mat-icon-button>
                          <mat-icon class="delete-btn">
                            close
                          </mat-icon>
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                  <div class="button-div">
                    <button (click)="addTranslation()"
                            *ngIf="this.translations.controls.slice(-1)[0].value.translation && !viewOnly()"
                            class="add-icon add-translation"
                            mat-icon-button>
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="examples">
                  <ng-container formArrayName="examples">
                    <ng-container *ngFor="let exampleForm of this.examples.controls; let i = index">
                      <div class="blockWithButton">
                        <div [formGroup]="exampleForm" class="exampleBlock">
                          <div>
                            <mat-form-field>
                              <input (keydown.delete)="deleteExampleConditional(i)"
                                     (keydown.enter)="addExample()"
                                     [readonly]="viewOnly()"
                                     formControlName="example"
                                     matInput
                                     placeholder="example">
                            </mat-form-field>
                          </div>
                          <div>
                            <mat-form-field>
                              <input (keydown.delete)="deleteExampleConditional(i)"
                                     (keydown.enter)="addExample()"
                                     [readonly]="viewOnly()"
                                     formControlName="translation"
                                     matInput
                                     placeholder="translation">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="delete-example-btn-div">
                          <button (click)="deleteExample(i)"
                                  *ngIf="this.examples.controls.length > 1"
                                  mat-icon-button>
                            <mat-icon class="">close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <div class="button-div">
                    <button (click)="addExample()" *ngIf="this.examples.controls.slice(-1)[0].value.example && !viewOnly()"
                            class="add-icon"

                            mat-icon-button>
                      <mat-icon class="">add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Advanced
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">
            <div class="advanced-grid">
              <div class="notes">
                <mat-form-field class="">
                  <input [readonly]="viewOnly()" autocomplete="off" formControlName="notes" matInput
                         placeholder="notes">
                </mat-form-field>
              </div>

              <div class="source">
                <mat-form-field class="">
                  <!--                  <input autocomplete="off" [readonly]="viewOnly()" matInput formControlName="source"-->
                  <!--                         placeholder="source">-->
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="example-chip-list">
              <mat-label>tags</mat-label>
              <mat-chip-list #chipList>
                <mat-chip
                  (removed)="remove(tag)"
                  *ngFor="let tag of tags">
                  {{ tag }}
                  <mat-icon *ngIf="!this.viewOnly" matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                  #tagInput
                  (matChipInputTokenEnd)="add($event)"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [readonly]="viewOnly()"
                  formControlName="tags"
                  placeholder="">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{ tag }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="toggle-div slider-toggle-div">
              <div class="slider-label-div">
                <mat-label class="slide-label">Priority:</mat-label>
              </div>
              <span class="spacer"></span>
              <mat-slider
                [disabled]="viewOnly()"
                [tickInterval]="1"
                class="priority-slider"
                formControlName="priority"
                max="3"
                min="1"
                step="1"
                thumbLabel="true"
              >
              </mat-slider>
            </div>

            <div class="active-learning-div toggle-div">
              <mat-label class="toggle-label">Learning mode:</mat-label>
              <span class="spacer"></span>
              {{ this.learningTypeLabel }}
              <mat-slide-toggle
                (change)="changeLearningType($event)"
                [disabled]="viewOnly()"
                checked="true"
                class="toggle"
                color="primary"
                formControlName="activeLearning"
              >
              </mat-slide-toggle>
            </div>
            <div class="irregular-plural-div toggle-div">
              <mat-label class="toggle-label">Plural form:</mat-label>
              <span class="spacer"></span>
              {{ this.pluralTypeLabel }}
              <mat-slide-toggle
                (change)="changePluralType($event)"
                [disabled]="viewOnly()"
                class="toggle"
                color="primary"
                formControlName="irregularPlural"
              >
              </mat-slide-toggle>
            </div>
            <div class="irregular-spelling-div toggle-div">
              <mat-label class="toggle-label">Spelling/pronunciation:</mat-label>
              <span class="spacer"></span>
              {{ this.spellingTypeLabel }}
              <mat-slide-toggle
                (change)="changeSpellingType($event)"
                [disabled]="viewOnly()"
                class="toggle"
                color="primary"
                formControlName="irregularSpelling"
              >
              </mat-slide-toggle>
            </div>
            <div class="toggle-div">
              <mat-label class="toggle-label">False friend:</mat-label>
              <span class="spacer"></span>
              {{ this.friendLabel }}
              <mat-slide-toggle
                (change)="changeFalseFriendType($event)"
                [disabled]="viewOnly()"
                class="toggle"
                color="primary"
                formControlName="falseFriend"
              >
              </mat-slide-toggle>
            </div>
          </div>
        </mat-expansion-panel>
        <ng-container *ngIf="mode === 'edit'" class="buttons-section">
          <button
            (click)="openDeletionDialog()"
            class="delete-btn"
            color="warn"
            mat-raised-button
          >
            Delete
          </button>

          <button
            (click)="updateCard()"
            [disabled]="this.formIntact"
            class="save-btn"
            color="primary"
            mat-raised-button
          >
            Save
          </button>
        </ng-container>
        <ng-container *ngIf="mode === 'create'">
          <div class="create-btn-div">
            <button
              (click)="createCard()"
              [disabled]="!cardFormGroup.valid"
              class="create-btn"
              color="primary"
              mat-raised-button
            >
              Create
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="guestView()">
          <div class="create-btn-div">
            <button
              (click)="login()"
              class="create-btn"
              color="primary"
              mat-raised-button
            >
              Sign up and save this card
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="mode === 'suggest'">
          <button
            (click)="declineCard()"
            class="decline-btn"
            color="primary"
            mat-raised-button
          >
            Decline
          </button>
          <button
            (click)="acceptCard()"
            class="accept-btn"
            color="warn"
            mat-raised-button
          >
            Accept
          </button>

        </ng-container>

      </form>
    </mat-card-content>
  </mat-accordion>
</mat-card>
