<div class="login-page" *ngIf="!isLoggedIn">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Get in!</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign in">
        <mat-card-content>
          <form name="loginForm" (ngSubmit)="inF.form.valid && onLoginSubmit()" #inF="ngForm">
            <mat-error class="registration-result"
                       *ngIf="inF.submitted && isLoginFailed">
              {{errorMessage}}
            </mat-error>
            <mat-form-field hideRequiredMarker>
              <input
                #email="ngModel"
                [(ngModel)]="loginForm.email"
                email
                matInput
                name="email"
                ngModel
                placeholder="Email"
                required>
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field hideRequiredMarker (capsLock)="capsOn=$event">
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="8"
                name="password"
                [(ngModel)]="loginForm.password"
                ngModel
                matTooltip="Caps Lock"
                matTooltipPosition="left"
                [matTooltipDisabled]="!capsOn"
                #password="ngModel">
              <mat-error
                *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors.minlength">
                Password must be of length 8
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <!--            <mat-checkbox>Remember Me!</mat-checkbox>-->
            <div *ngIf="inF.submitted && isLoginFailed" class="forgot-link">
              <a href="/home"> Forgot password?</a>
            </div>
            <button
              mat-raised-button
              color="accent"
              [disabled]="!inF.form.valid"
              class="login-button">
              Sign in
            </button>
            <button
              type="button"
              color="primary"
              mat-raised-button
              class="provider-btn"
              (click)="navigateToProvider(googleURL)">
              <div class="provider-icon-wrapper">
                <img class="google-icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="google"/>
                <div class="provider-text">
                  Sign in with Google
                </div>
              </div>
            </button>
            <button
              type="button"
              color="primary"
              mat-raised-button
              class="provider-btn"
              (click)="navigateToProvider(appleURL)">
              <div class="provider-icon-wrapper">
                <img class="google-icon"
                     src="https://commons.wikimedia.org/wiki/File:Apple_logo_black.svg" alt="apple"/>
                <div class="provider-text">
                  Sign in with Apple
                </div>
              </div>
            </button>
            <button
              type="button"
              color="primary"
              mat-raised-button
              class="provider-btn"
              (click)="navigateToProvider(facebookURL)">
              <div class="provider-icon-wrapper">
                <img class="fb-icon"
                     src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"/>
                <div class="provider-text">
                  Sign in with Facebook
                </div>
              </div>
            </button>
          </form>
        </mat-card-content>

      </mat-tab>
      <mat-tab label="Sign up">
        <mat-card-content>
          <form name="signUpForm" (ngSubmit)="upF.form.valid && onRegistrationSubmit()" #upF="ngForm">
            <mat-form-field hideRequiredMarker>
              <input
                matInput
                placeholder="Username"
                required
                [(ngModel)]="signUpForm.username"
                maxlength="20"
                name="username"
                minlength="4"
                ngModel
                #username="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="username.errors && username.errors.required">
                Username is required
              </mat-error>
              <mat-error
                *ngIf="username.errors && username.errors.minlength">
                Username must be of length 4
              </mat-error>

            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                [(ngModel)]="signUpForm.email"
                ngModel
                email
                #email="ngModel">
              <mat-error *ngIf="email.errors && email.errors.required">Valid email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field hideRequiredMarker (capsLock)="capsOn=$event">
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="8"
                name="password"
                ngModel
                [(ngModel)]="signUpForm.password"
                matTooltip="Caps Lock"
                matTooltipPosition="left"
                [matTooltipDisabled]="!capsOn"
                #password="ngModel">
              <mat-error
                *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors.minlength">
                Password must be of length 8
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-error class="registration-result"
                       *ngIf="upF.submitted && isSignUpFailed">
              {{errorMessage}}
            </mat-error>
            <button
              mat-raised-button
              color="accent"
              class="login-button"
              [disabled]="!upF.form.valid">
              Sign up
            </button>
            <button
              color="primary"
              mat-raised-button
              class="provider-btn"
              (click)="navigateToProvider(googleURL)">
              <div class="provider-icon-wrapper">
                <img class="google-icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                <div class="provider-text">
                  Sign up with Google
                </div>
              </div>
            </button>
            <button
              color="primary"
              mat-raised-button
              class="provider-btn"
              (click)="navigateToProvider(facebookURL)">
              <div class="provider-icon-wrapper">
                <img class="fb-icon"
                     src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"/>
                <div class="provider-text">
                  Sign up with Facebook
                </div>
              </div>
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>
