<div *ngIf="!isLoggedIn" class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Get in!</mat-card-title>
    <mat-tab-group class="example-stretched-tabs" mat-stretch-tabs>
      <mat-tab label="Sign in">
        <mat-card-content>
          <form #inF="ngForm" (ngSubmit)="inF.form.valid && onLoginSubmit()" name="loginForm">
            <mat-error *ngIf="inF.submitted && isLoginFailed"
                       class="registration-result">
              {{ errorMessage }}
            </mat-error>
            <mat-form-field hideRequiredMarker>
              <input
                #email="ngModel"
                [(ngModel)]="loginForm.email"
                email
                matInput
                name="email"
                ngModel
                placeholder="Email"
                required>
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field (capsLock)="capsOn=$event" hideRequiredMarker>
              <input
                #password="ngModel"
                [(ngModel)]="loginForm.password"
                [matTooltipDisabled]="!capsOn"
                matInput
                matTooltip="Caps Lock"
                matTooltipPosition="left"
                minlength="8"
                name="password"
                ngModel
                placeholder="Password"
                required
                type="password">
              <mat-error
                *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors.minlength">
                Password must be of length 8
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <!--            <mat-checkbox>Remember Me!</mat-checkbox>-->
            <div *ngIf="inF.submitted && isLoginFailed" class="forgot-link">
              <a href="/home"> Forgot password?</a>
            </div>
            <button
              [disabled]="!inF.form.valid"
              class="login-button"
              color="accent"
              mat-raised-button>
              Sign in
            </button>
            <button
              (click)="navigateToProvider(googleURL)"
              class="provider-btn"
              color="primary"
              mat-raised-button
              type="button">
              <div class="provider-icon-wrapper">
                <img alt="google"
                     class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"/>
                <div class="provider-text">
                  Sign in with Google
                </div>
              </div>
            </button>
            <button
              (click)="navigateToProvider(appleURL)"
              class="provider-btn"
              color="primary"
              mat-raised-button
              type="button">
              <div class="provider-icon-wrapper">
                <img alt="apple"
                     class="google-icon" src="https://commons.wikimedia.org/wiki/File:Apple_logo_black.svg"/>
                <div class="provider-text">
                  Sign in with Apple
                </div>
              </div>
            </button>
            <button
              (click)="navigateToProvider(facebookURL)"
              class="provider-btn"
              color="primary"
              mat-raised-button
              type="button">
              <div class="provider-icon-wrapper">
                <img class="fb-icon"
                     src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"/>
                <div class="provider-text">
                  Sign in with Facebook
                </div>
              </div>
            </button>
          </form>
        </mat-card-content>

      </mat-tab>
      <mat-tab label="Sign up">
        <mat-card-content>
          <form #upF="ngForm" (ngSubmit)="upF.form.valid && onRegistrationSubmit()" name="signUpForm">
            <mat-form-field hideRequiredMarker>
              <input
                #username="ngModel"
                [(ngModel)]="signUpForm.username"
                matInput
                maxlength="20"
                minlength="4"
                name="username"
                ngModel
                placeholder="Username"
                required>
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="username.errors && username.errors.required">
                Username is required
              </mat-error>
              <mat-error
                *ngIf="username.errors && username.errors.minlength">
                Username must be of length 4
              </mat-error>

            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <input
                #email="ngModel"
                [(ngModel)]="signUpForm.email"
                email
                matInput
                name="email"
                ngModel
                placeholder="Email"
                required>
              <mat-error *ngIf="email.errors && email.errors.required">Valid email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field (capsLock)="capsOn=$event" hideRequiredMarker>
              <input
                #password="ngModel"
                [(ngModel)]="signUpForm.password"
                [matTooltipDisabled]="!capsOn"
                matInput
                matTooltip="Caps Lock"
                matTooltipPosition="left"
                minlength="8"
                name="password"
                ngModel
                placeholder="Password"
                required
                type="password">
              <mat-error
                *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors.minlength">
                Password must be of length 8
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-error *ngIf="upF.submitted && isSignUpFailed"
                       class="registration-result">
              {{ errorMessage }}
            </mat-error>
            <button
              [disabled]="!upF.form.valid"
              class="login-button"
              color="accent"
              mat-raised-button>
              Sign up
            </button>
            <button
              (click)="navigateToProvider(googleURL)"
              class="provider-btn"
              color="primary"
              mat-raised-button>
              <div class="provider-icon-wrapper">
                <img class="google-icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                <div class="provider-text">
                  Sign up with Google
                </div>
              </div>
            </button>
            <button
              (click)="navigateToProvider(facebookURL)"
              class="provider-btn"
              color="primary"
              mat-raised-button>
              <div class="provider-icon-wrapper">
                <img class="fb-icon"
                     src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"/>
                <div class="provider-text">
                  Sign up with Facebook
                </div>
              </div>
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>
