.custom-toolbar {
  background-color: #f8f6f6;
  border: 1px solid #f7f5f5;
  box-shadow: 0 2px 10px 0 #9b9696;;
}

span {
  margin: 0.5em;
}

.main-icon {
  margin-left: 1em;
  margin-top: .9em;
  margin-right: 1em;
}

a {
  font-size: large;
}

.menu-item {
  border: 1px solid transparent;
}

.menu-item:hover {
  border-bottom: 1px solid #3d3939;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.accountSpan {
  display: flex;
  flex-direction: column;
  width: unset;
}

.lang-span {
  display: flex;
  flex-direction: column;
  width: unset;
}

.lang-btn {
  border: medium dashed;
  padding: 0 10px;
  border-radius: 10px;
  color: #000000;
  line-height: 30px;
  min-width: unset;
}

::ng-deep .mat-select-content {
  width: 10px;
}

mat-form-field {
  width: 100%;
}

.text-sm {
  font-size: .8em;
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

.mat-icon {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

::ng-deep .mat-icon {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

.matoption {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;

  font-size: 180px;
}

.thisbutton {
  font-size: 1.1em;
}

.moomba {
  padding: 0;
  margin-top: 4px;
  border: 2px solid #282626 !important;
}

.imgg {
  border: 2px solid #000;
  border-radius: 32px;
  height: 37px;
}

.inter {
  display: flex;
  justify-content: center;
  padding-left: 0.09em;
}

.local-lang-picker {
  margin-right: 1em;
}


:root {
  --border-size: 2px;
  --box-width: 36em;
  --box-height: 8em;
  --dash-size: 1em;
}

.box,
.box::after {
  height: var(--box-height);
  width: var(--box-width);
  border: solid;
  margin: 0;
}

.app-body-wrap {
  position: relative;
}

.app-body {
  position: relative;
  height: 100vh;
}

.app-body-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: var(--img);
  opacity: .3;
}
