<div [style]="{'--img': this.getBackgroundImg()}" class="app-body-wrap" id="app">
  <div class="app-body">
    <mat-toolbar class="custom-toolbar" color="accent">
    <span class="main-icon">
      <a mat-list-item routerLink="/">
        <img alt="Logo" height="45" src="../assets/img/icons/headicon.svg" width="45">
      </a>
    </span>
      <span *ngIf="this.showTestLabel" style="color: yellow; border-width: thick; background-color: darkred">
      <a mat-button>TEST ENV</a>
    </span>

      <span *ngIf="isLoggedIn" class="menu-item">
      <a class="nav-link" href="/home" mat-button routerLink="home"> Home</a>
    </span>
      <span class="menu-item">
      <a class="nav-link" href="/discover" mat-button routerLink="discover"> Discover</a>
    </span>
      <span class="menu-item">
      <a class="nav-link" href="/games" mat-button routerLink="games">Games</a>
    </span>
      <span class="spacer"></span>

      <mat-form-field *ngIf="!isLoggedIn" class="local-lang-picker" style="width: 3%">
        <mat-select #langSelect (change)="changeUiLanguage(langSelect.value)" (selectionChange)="changeUiLanguage($event.value)"
                    [(ngModel)]="uiLang" class="text-sm">
          <mat-option
            *ngFor="let lang of uiLangs"
            [value]="lang"
            class="matoption">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-menu #languageMenu="matMenu" class="languagemenu" xPosition="after" yPosition="below">
        <button (click)="changeLearningLanguage(language)" *ngFor="let language of languages" [value]="language"
                class="thisbutton"
                mat-menu-item>
          <mat-icon>language</mat-icon>
          {{ language }}
        </button>
      </mat-menu>

      <!--    <span class="accountSpan">-->
      <!--      <button mat-icon-button [matMenuTriggerFor]="languageMenu" *ngIf="isLoggedIn">-->
      <!--&lt;!&ndash;              <div class="inter">&ndash;&gt;-->
      <!--                <img class="imgg" src="../assets/img/lang/{{language.toLowerCase()}}.png" alt="Logo" height="38"-->
      <!--                     width="38">-->
      <!--        &lt;!&ndash;              </div>&ndash;&gt;-->
      <!--      </button>-->
      <!--    </span>-->
      <span class="lang-span">
      <button *ngIf="isLoggedIn"
              [matMenuTriggerFor]="languageMenu"
              [ngStyle]="{'color': this.color}"
              class="lang-btn"
              mat-button>
            {{ this.language.toUpperCase() }}
      </button>
    </span>
      <span class="accountSpan">
<!--      <button  mat-button [matMenuTriggerFor]="accountMenu" *ngIf="isLoggedIn">-->
      <button *ngIf="isLoggedIn" [matMenuTriggerFor]="accountMenu" mat-icon-button>
<!--              <div class="inter">-->
                <img [src]="this.user.profilePicLink" alt="Logo" class="imgg" height="38" width="38">
        <!--                    <span>{{ currentUser.username }}</span>-->
        <!--              </div>-->
      </button>
    </span>

      <span class="accountSpan">
      <button *ngIf="!isLoggedIn" mat-icon-button routerLink="login">
        <mat-icon>login</mat-icon>
      </button>
    </span>

      <!--    <span class="accountSpan">-->
      <!--          <button mat-button [matMenuTriggerFor]="accountMenu" *ngIf="isLoggedIn">-->
      <!--            <mat-icon>account_circle</mat-icon>-->
      <!--            <span>{{ currentUser.username }}</span>-->
      <!--          </button>-->
      <!--        </span>-->
      <mat-menu #accountMenu="matMenu" xPosition="after" yPosition="below">
        <button mat-menu-item routerLink="profile">Profile</button>
        <button mat-menu-item routerLink="settings">Settings</button>
        <button (click)="logout()" class="nav-link" mat-menu-item>Log out</button>
      </mat-menu>

    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
