.cards {
  display: flex;
  justify-content: space-between;
}

.h1 {
  display: inline;
}

.translated-card-header {
  color: dimgray;
  font-size: 14px;
  margin: 1em 0 0.5em 0;
}

.mlt-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5em;
  width: fit-content;
  background-color: #f8f6f6;
  border-radius: 10px;
  /*max-width: 20em;*/
  border: 1px solid #f7f5f5;
  box-shadow: 0 2px 10px 0 #9b9696;;
}

.original-card-header {
  color: dimgray;
  font-size: 14px;
  display: flex;
  margin: 1em 0 0.5em 0;
}

.volumeIcon {
  margin-left: .3em;
}

.audio-ribbon {
  width: 150px;
  margin: auto auto auto 1.3em;
}

.img-div {
  margin-right: auto;
  margin-top: 1em;
  margin-left: 1.2em;
}

.provider-img {
  width: 11em;
  border-radius: 10px;
  margin: .3em;
}

.content {
  margin: 0 1em;
  line-height: 1.2;
  font-size: 20px;
  color: #313131;
  /*font-family: fantasy;*/
}

.icon-display {
  transform: scale(2);
}

.form-input-autocomplete {
  /*margin: auto;*/
  /*width: 50%;*/
  /*border: 3px solid green;*/
  /*padding: 10px;*/
}

.input-autocomplete {
  /*border: 3px solid green;*/
  /*size: 10em;*/
  /*width: 500px;*/
  /*margin-bottom: -22px;*/
  /*border-bottom: 1px solid black;*/
}

/*.mat-form-field {*/
/*  width: 800px;*/
/*}*/

#audio.active {
  display: block !important;
}

.friend-search {
  display: flex;
  margin-top: 15em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.expansion-panel-content {
  /*width: 3em;*/
}

.panel-header {
  color: black;
  font-style: italic;
  height: 25px;
}

.engines-div {
  display: flex;
  justify-content: center;
}

.expansion-panel {
  width: fit-content;
  background-color: transparent;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
  align-content: center;
  flex-direction: row;
}

/*::ng-deep.mat-expansion-panel-header-description,*/
/*::ng-deep.mat-expansion-indicator::after {*/
/*  color: #000000;*/
/*}*/

.random-btn {
  margin-right: 30px;
  margin-top: 70px;
}

.audio-btn-mlt {
  width: 20px;
  height: 20px;
}

.audio-plugin {
  height: 34px;
  width: 200px;
}

.create-btn {
  margin-left: 30px;
  margin-top: 65px;
}

mat-form-field.mat-form-field {
  font-size: 50px;
  text-align: center;
  /*outline: none;*/

}

.small-icon {
  padding: 10px;
}

.engines {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: gray !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}

.merriam-svg .collins-svg {
  padding: 10px;
}

::ng-deep .center-aligned-header > .mat-content {
  justify-content: center;
}

::ng-deep .mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
.frequency-box {
  border: 2px solid black;
  padding: 5px;
  font-size: 25px;
}
