<div class="friend-search" [ngStyle]="{'margin-top': positionSearch()}">
  <ng-container *ngIf="!searched">
    <button mat-icon-button class="random-btn" (click)="getRandomWord()">
      <img src="../assets/img/icons/random.svg" alt="Random" height="40" width="40">
    </button>
  </ng-container>
  <ng-container *ngIf="searched">
    <button mat-icon-button class="random-btn" (click)="showEngines()">
      <img src="../assets/img/icons/book-engine.svg" alt="Random" height="50" width="50">
    </button>
  </ng-container>
  <form class="form-input-autocomplete" (ngSubmit)="search()">
    <mat-form-field [style.width.px]=800 color="accent">
      <textarea matInput
                (keydown.enter)="search(); $event.preventDefault()"
                id="text-area"
                [formControl]="formControl"
                [(ngModel)]="searchText"
                #textarea
                [appFocus]="true"
                cdkTextareaAutosize
                [matAutocomplete]="auto"
                class="input-autocomplete"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5">
      </textarea>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)='optionSelectedHandler($event.option.value)'>
        <mat-option *ngFor="let option of filteredOptions | async  | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-icon-button class="create-btn" (click)="openCreationDialog()">
    <img src="../assets/img/icons/create.svg" alt="Create" height="50" width="50">
  </button>

</div>

<ng-container *ngIf="this.searched">
  <ng-container *ngIf="this.loading">
    <div class="spinner-overlay">
      <div class="spinner">
        <div class="la-ball-clip-rotate-multiple la-3x">
          <div data-l-s="49520"></div>
          <div></div>
        </div>
      </div>
    </div>
  </ng-container>

    <!--  <ng-container *ngIf="loading">-->
    <!--    <div class="spinner-border" role="status">-->
    <!--      <span class="visually-hidden">Loading...</span>-->
    <!--    </div>-->
    <!--  </ng-container>-->

    <div class="engines-div">
      <mat-expansion-panel hideToggle class="expansion-panel" [expanded]="this.engines">
        <div class="expansion-panel-content">
          <div class="engines">
            <a target="_blank" [href]="getReversoLink()" class="button"><img
              src="../../assets/img/services/reverso.svg"
              alt="Reverso"
              height="60" width="60"
              class="small-icon"></a>

            <a target="_blank" [href]="getUrbanLink()" class="button"><img
              src="../../assets/img/services/urban.svg"
              alt="Urban"
              height="80" width="80"></a>

            <a target="_blank" [href]="getMerriamWebsterLink()"><img
              src="../../assets/img/services/merriam-webster.svg"
              alt="Merriam-Webster"
              height="70" width="70" style="padding: 5px"></a>

            <a target="_blank" [href]="getCollinsLink()"><img src="../../assets/img/services/collins.svg"
                                                              alt="Collins"
                                                              height="60" width="60" class="small-icon"></a>

            <a target="_blank" [href]="getOxfordLink()"><img src="../../assets/img/services/oxford.svg"
                                                             alt="Oxford"
                                                             height="60" width="60" class="small-icon"></a>

            <a target="_blank" [href]="getMacmillianLink()"><img src="../../assets/img/services/macmillian.svg"
                                                                 alt="Macmillian"
                                                                 height="60" width="60" class="small-icon"></a>

            <a target="_blank" [href]="getCambridgeLink()"><img src="../../assets/img/services/cambridge.svg"
                                                                alt="Cambridge"
                                                                height="60" width="60" class="small-icon"></a>
          </div>

        </div>
      </mat-expansion-panel>
    </div>

    <ng-container *ngIf="this.parallelMode">
      <div class="cards">
        <div class="mlt-card">
          <div class="original-card-header">
            <div>
              original
            </div>
            <mat-icon *ngIf="!ttsReceived" class="volumeIcon" (click)="getTTS()">volume_up</mat-icon>
          </div>
          <div class="content">
            {{this.savedChunk}}
          </div>
          <div class="audio-ribbon">
            <div #audioPlayer
                 class="essential_audio ribbon"
                 data-autoplay>
            </div>
          </div>
        </div>


        <div class="mlt-card">
          <div class="translated-card-header">
            translated to
            <select #langSelect (change)="translateTo(langSelect.value)">
              <option
                *ngFor="let lang of this.getFluentLanguages()"
                [value]="lang">
                {{ lang.toLowerCase() }}
              </option>
            </select>
          </div>
          <div class="content">
            {{this.machineTranslationDto.text}}
          </div>
          <div class="img-div">
            <img class="provider-img" src="../assets/img/services/google-colored.png" alt="translated by Google">
          </div>
        </div>

      </div>
    </ng-container>

    <button mat-icon-button class="audio-btn" (click)="getAudio()" *ngIf="!this.parallelMode">
      <mat-icon class="icon-display">volume_up</mat-icon>
    </button>

    {{this.cardSearchLabel}}
    <ng-container *ngIf="!!this.report">
      REPORT
      Frequency: <span class="frequency-box">{{this.report.frequency | number:'1.1-1'}}</span>
      CEFR: {{this.report.cefr}}
      Lemmas: {{this.report.lemmas}}
      POS-tags: {{this.report.posTags}}
    </ng-container>
    <div *ngFor="let card of this.foundCards">
      <button mat-raised-button (click)="openDialogLocal(card, 'edit')">
        {{card.entry}}
      </button>

    </div>
    <div *ngFor="let entry of fdEntries">
      {{entry.phonetic}}
      <div *ngFor="let meaning of entry.meanings">
        {{meaning.partOfSpeech}}
        <div *ngFor="let definition of meaning.definitions">
          {{definition.definition}}
        </div>
      </div>
    </div>

    <div *ngIf="parallelMode">
      <!--    <div *ngFor="let card of translationCards ? [].concat(translationCards) : []">-->
      <!--      {{card.provider}}-->
      <!--      <div *ngFor="let definition of card.definitions">-->
      <!--        {{definition.pos}}-->
      <!--        {{definition.transcription}}-->
      <!--        <div *ngFor="let translation of definition.translations">-->
      <!--          {{translation.frequency}}-->
      <!--          {{translation.pos}}-->
      <!--          {{translation.text}}-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
    </div>
</ng-container>
<router-outlet></router-outlet>
