<div class="profile-page">
  <div>
    <h1>
      Profile details
    </h1>
  </div>
  <div>
    <h2>
      <strong>
        Username</strong>
    </h2>
    <div class="username">
      <form
        [formGroup]="usernameFormGroup"
        (ngSubmit)="uF.form.valid && checkUsername()"
        class="example-form"
        #uF="ngForm"
      >
        <mat-form-field [style.width.px]=200 appearance="outline">
          <mat-label>username</mat-label>
          <input formControlName="username"
                 pattern="^[a-zA-Z0-9_\-]+$"
                 name="username" matInput>
          <!--                    <button matSuffix mat-button>-->
          <!--                        <mat-icon>search</mat-icon>-->
          <!--                    </button>-->
          <mat-error *ngIf="uF.form.controls.username.invalid">Username is invalid</mat-error>
        </mat-form-field>
      </form>
      <mat-error *ngIf="this.unavailableUsername" class="my-error">
        ⚠️That username is already taken 😔
      </mat-error>
      <mat-error *ngIf="this.currentUsername" class="my-error">
        ⚠️This is your current username 😐
      </mat-error>
      <div *ngIf="this.availableUsername">
        Available username
      </div>

      <div class="create-btn-div">
        <button
          color="primary"
          class="create-btn"
          [disabled]="!this.availableUsername"
          mat-raised-button
          (click)="changeUsername()"
        >
          Change username
        </button>
      </div>
    </div>

  </div>

  <h1>Friends</h1>
  <ng-template #no_friends>
    You have no friends :(
  </ng-template>

  <div *ngIf=" !!friendsMutual && friendsMutual.length> 0;else no_friends ">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Friends
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: inline-block;" *ngFor="let friend of friendsMutual">
    <span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger"
          [matMenuTriggerFor]="friendsContextMenu"></span>
        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div class="circle" [ngStyle]="{'background-color':  this.avatarColors[friend.email] }">
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div *ngIf="!!friendsBlocked && friendsBlocked.length > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Blocked friends
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="display: inline-block;" *ngFor="let friend of friendsBlocked">
    <span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger"
          [matMenuTriggerFor]="blockedContextMenu"></span>
        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div class="circle" [ngStyle]="{'background-color': this.avatarColors[friend.email] }">
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>


  <div *ngIf="!!friendsAskedMe && friendsAskedMe.length > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Incoming requests
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="display: inline-block;" *ngFor="let friend of friendsAskedMe">
    <span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger"
          [matMenuTriggerFor]="incomingContextMenu"></span>

        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div class="circle" [ngStyle]="{'background-color':  this.avatarColors[friend.email] }">
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>

      </div>
    </mat-expansion-panel>
  </div>


  <div *ngIf="!!friendsAsked && friendsAsked.length > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Outcoming requests
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: inline-block;" *ngFor="let friend of friendsAsked">
    <span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger"
          [matMenuTriggerFor]="outcomingContextMenu"></span>

        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div class="circle" [ngStyle]="{'background-color':  this.avatarColors[friend.email] }"
               [matTooltip]="friend.username"
               matTooltipClass="tooltip-red"
          >
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="friend-search">
    Find someone!
    <form class="example-form" (ngSubmit)="searchPeople()">
      <mat-form-field [style.width.px]=250>
        <mat-label>Make friends with</mat-label>
        <input [(ngModel)]="friendSearchText" name="search" matInput>
        <!--      <mat-placeholder class="placeholder">Search for your friend</mat-placeholder>-->
        <button matSuffix mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="this.notFound" class="mat-error">
        User not found 😔
      </div>
      <div *ngIf="this.searchYourself" class="mat-error">
        You can't friend yourself 😐
      </div>
      <div *ngIf="this.searchAlreadyFriend" class="mat-error">
        You are already friends 😐
      </div>
    </form>
  </div>

  <div *ngIf="!!searchFriend">
  <span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger"
        [matMenuTriggerFor]="strangersContextMenu"></span>
    <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, searchFriend)">
      <div class="circle" [ngStyle]="{'background-color':  this.colors[0] }">
        <div class="initials">
          {{ createInitials(searchFriend.username) }}
        </div>
      </div>
    </div>
  </div>


  <mat-menu #incomingContextMenu="matMenu">
    <button mat-menu-item (click)="friendshipAction(action.ACCEPT)">Accept</button>
    <button mat-menu-item (click)="friendshipAction(action.REJECT)">Reject</button>
    <button mat-menu-item (click)="friendshipAction(action.BLOCK)">Block</button>
  </mat-menu>

  <mat-menu #blockedContextMenu="matMenu">
    <button mat-menu-item (click)="friendshipAction(action.UNBLOCK)">Unblock</button>
  </mat-menu>
  <mat-menu #strangersContextMenu="matMenu">
    <button mat-menu-item (click)="friendshipAction(action.REQUEST)">Request</button>
  </mat-menu>

  <mat-menu #outcomingContextMenu="matMenu">
    <button mat-menu-item (click)="friendshipAction(action.CANCEL)">Cancel</button>
  </mat-menu>

  <mat-menu #friendsContextMenu="matMenu">
    <button mat-menu-item (click)="friendshipAction(action.UNFRIEND)">Unfriend</button>
    <button mat-menu-item (click)="friendshipAction(action.BLOCK)">Block</button>
  </mat-menu>

  <div>
    <h1>Languages</h1>
    <form [formGroup]="langFormGroup" (keydown.enter)="$event.preventDefault()" class="lang-form">
      <mat-form-field class="lang-tag-field" [style.width.px]=" targetLangTags.length*70">

        <mat-label>Target languages</mat-label>
        <mat-chip-list #targetChipList>
          <mat-chip #chip (focus)="chip.blur()"
                    *ngFor="let tag of targetLangTags"
                    (removed)="this.targetLangTags.splice(this.targetLangTags.indexOf(tag), 1)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="this.targetLangTags.length > 1">cancel</mat-icon>
          </mat-chip>
          <input
            #tagInputTarget
            placeholder=""
            formControlName="targetTags"
            [matAutocomplete]="autoTarget"
            [matChipInputFor]="targetChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event, targetLangTags)">
        </mat-chip-list>
        <mat-autocomplete #autoTarget="matAutocomplete" (optionSelected)="selectedTarget($event)">
          <mat-option *ngFor="let tag of filteredTargetTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="lang-tag-field" [style.width.px]=" fluentLangTags.length*70">
        <mat-label>Fluent languages</mat-label>
        <mat-chip-list #fluentChipList
                       cdkDropList
                       cdkDropListOrientation="horizontal"
                       (cdkDropListDropped)="drop($event)">
          <mat-chip #chip (focus)="chip.blur()"
                    cdkDrag
                    *ngFor="let tag of fluentLangTags"
                    (removed)="this.fluentLangTags.splice(this.fluentLangTags.indexOf(tag), 1)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="this.fluentLangTags.length > 1">cancel</mat-icon>
          </mat-chip>
          <input
            #tagInputFluent
            placeholder=""
            formControlName="fluentTags"
            [matAutocomplete]="autoFluent"
            [matChipInputFor]="fluentChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event, fluentLangTags)">
        </mat-chip-list>
        <mat-autocomplete #autoFluent="matAutocomplete" (optionSelected)="selectedFluent($event)">
          <mat-option *ngFor="let tag of filteredFluentTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="create-btn-div">
        <button
          color="primary"
          class="create-btn"
          mat-raised-button
          (click)="saveTargetLangs()"
          [disabled]="!langFormGroup.valid"
        >
          Save
        </button>
      </div>

    </form>
  </div>

  <div>
    <button
      color="warn"
      mat-raised-button
      class="delete-button"
      (click)="openDialog()">
      <div class="provider-icon-wrapper">
        DELETE ACCOUNT
      </div>
    </button>

  </div>
</div>
