.profile-page {
  width: 100%;
  height: 100%;
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*overflow: hidden;*/
  background: none;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.circle img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.circle .initials {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.2625px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: gray !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}

.mat-focused .placeholder {
  color: #00D318;
}

::ng-deep .mat-input-element::placeholder {
  color: gray;
}

::ng-deep .mat-expansion-panel {
  /*width: 20%;*/
  border-radius: 8px;
}

.my-error {
  font-size: 75%;
  width: 100%;
  overflow: hidden;
}

mat-label {
  color: black;
}

.lang {
  width: fit-content;
}

.lang-form {
  display: flex;
  flex-direction: column;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3c3f41;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: green;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: green;
}
