<div class="profile-page">
  <div>
    <h1>
      Profile details
    </h1>
  </div>
  <div>
    <h2>
      <strong>
        Username</strong>
    </h2>
    <div class="username">
      <form
        #uF="ngForm"
        (ngSubmit)="uF.form.valid && checkUsername()"
        [formGroup]="usernameFormGroup"
        class="example-form"
      >
        <mat-form-field [style.width.px]=200 appearance="outline">
          <mat-label>username</mat-label>
          <input formControlName="username"
                 matInput
                 name="username" pattern="^[a-zA-Z0-9_\-]+$">
          <!--                    <button matSuffix mat-button>-->
          <!--                        <mat-icon>search</mat-icon>-->
          <!--                    </button>-->
          <mat-error *ngIf="uF.form.controls.username.invalid">Username is invalid</mat-error>
        </mat-form-field>
      </form>
      <mat-error *ngIf="this.unavailableUsername" class="my-error">
        ⚠️That username is already taken 😔
      </mat-error>
      <mat-error *ngIf="this.currentUsername" class="my-error">
        ⚠️This is your current username 😐
      </mat-error>
      <div *ngIf="this.availableUsername">
        Available username
      </div>

      <div class="create-btn-div">
        <button
          (click)="changeUsername()"
          [disabled]="!this.availableUsername"
          class="create-btn"
          color="primary"
          mat-raised-button
        >
          Change username
        </button>
      </div>
    </div>

  </div>

  <h1>Friends</h1>
  <ng-template #no_friends>
    You have no friends :(
  </ng-template>

  <div *ngIf=" !!friendsMutual && friendsMutual.length> 0;else no_friends ">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Friends
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let friend of friendsMutual" style="display: inline-block;">
    <span #matTrigger="matMenuTrigger" #spanTrigger [matMenuTriggerFor]="friendsContextMenu" class="context-menu-trigger"
          style="position:fixed;"></span>
        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div [ngStyle]="{'background-color':  this.avatarColors[friend.email] }" class="circle">
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div *ngIf="!!friendsBlocked && friendsBlocked.length > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Blocked friends
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let friend of friendsBlocked" style="display: inline-block;">
    <span #matTrigger="matMenuTrigger" #spanTrigger [matMenuTriggerFor]="blockedContextMenu" class="context-menu-trigger"
          style="position:fixed;"></span>
        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div [ngStyle]="{'background-color': this.avatarColors[friend.email] }" class="circle">
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>


  <div *ngIf="!!friendsAskedMe && friendsAskedMe.length > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Incoming requests
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let friend of friendsAskedMe" style="display: inline-block;">
    <span #matTrigger="matMenuTrigger" #spanTrigger [matMenuTriggerFor]="incomingContextMenu" class="context-menu-trigger"
          style="position:fixed;"></span>

        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div [ngStyle]="{'background-color':  this.avatarColors[friend.email] }" class="circle">
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>

      </div>
    </mat-expansion-panel>
  </div>


  <div *ngIf="!!friendsAsked && friendsAsked.length > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Outcoming requests
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let friend of friendsAsked" style="display: inline-block;">
    <span #matTrigger="matMenuTrigger" #spanTrigger [matMenuTriggerFor]="outcomingContextMenu" class="context-menu-trigger"
          style="position:fixed;"></span>

        <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, friend)">
          <div [matTooltip]="friend.username" [ngStyle]="{'background-color':  this.avatarColors[friend.email] }"
               class="circle"
               matTooltipClass="tooltip-red"
          >
            <div class="initials">
              {{ createInitials(friend.username) }}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="friend-search">
    Find someone!
    <form (ngSubmit)="searchPeople()" class="example-form">
      <mat-form-field [style.width.px]=250>
        <mat-label>Make friends with</mat-label>
        <input [(ngModel)]="friendSearchText" matInput name="search">
        <!--      <mat-placeholder class="placeholder">Search for your friend</mat-placeholder>-->
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="this.notFound" class="mat-error">
        User not found 😔
      </div>
      <div *ngIf="this.searchYourself" class="mat-error">
        You can't friend yourself 😐
      </div>
      <div *ngIf="this.searchAlreadyFriend" class="mat-error">
        You are already friends 😐
      </div>
    </form>
  </div>

  <div *ngIf="!!searchFriend">
  <span #matTrigger="matMenuTrigger" #spanTrigger [matMenuTriggerFor]="strangersContextMenu" class="context-menu-trigger"
        style="position:fixed;"></span>
    <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger, searchFriend)">
      <div [ngStyle]="{'background-color':  this.colors[0] }" class="circle">
        <div class="initials">
          {{ createInitials(searchFriend.username) }}
        </div>
      </div>
    </div>
  </div>


  <mat-menu #incomingContextMenu="matMenu">
    <button (click)="friendshipAction(action.ACCEPT)" mat-menu-item>Accept</button>
    <button (click)="friendshipAction(action.REJECT)" mat-menu-item>Reject</button>
    <button (click)="friendshipAction(action.BLOCK)" mat-menu-item>Block</button>
  </mat-menu>

  <mat-menu #blockedContextMenu="matMenu">
    <button (click)="friendshipAction(action.UNBLOCK)" mat-menu-item>Unblock</button>
  </mat-menu>
  <mat-menu #strangersContextMenu="matMenu">
    <button (click)="friendshipAction(action.REQUEST)" mat-menu-item>Request</button>
  </mat-menu>

  <mat-menu #outcomingContextMenu="matMenu">
    <button (click)="friendshipAction(action.CANCEL)" mat-menu-item>Cancel</button>
  </mat-menu>

  <mat-menu #friendsContextMenu="matMenu">
    <button (click)="friendshipAction(action.UNFRIEND)" mat-menu-item>Unfriend</button>
    <button (click)="friendshipAction(action.BLOCK)" mat-menu-item>Block</button>
  </mat-menu>

  <div>
    <h1>Languages</h1>
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="langFormGroup" class="lang-form">
      <mat-form-field [style.width.px]=" targetLangTags.length*70" class="lang-tag-field">

        <mat-label>Target languages</mat-label>
        <mat-chip-list #targetChipList>
          <mat-chip #chip (focus)="chip.blur()"
                    (removed)="this.targetLangTags.splice(this.targetLangTags.indexOf(tag), 1)"
                    *ngFor="let tag of targetLangTags">
            {{ tag }}
            <mat-icon *ngIf="this.targetLangTags.length > 1" matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #tagInputTarget
            (matChipInputTokenEnd)="add($event, targetLangTags)"
            [matAutocomplete]="autoTarget"
            [matChipInputFor]="targetChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            formControlName="targetTags"
            placeholder="">
        </mat-chip-list>
        <mat-autocomplete #autoTarget="matAutocomplete" (optionSelected)="selectedTarget($event)">
          <mat-option *ngFor="let tag of filteredTargetTags | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field [style.width.px]=" fluentLangTags.length*70" class="lang-tag-field">
        <mat-label>Fluent languages</mat-label>
        <mat-chip-list #fluentChipList
                       (cdkDropListDropped)="drop($event)"
                       cdkDropList
                       cdkDropListOrientation="horizontal">
          <mat-chip #chip (focus)="chip.blur()"
                    (removed)="this.fluentLangTags.splice(this.fluentLangTags.indexOf(tag), 1)"
                    *ngFor="let tag of fluentLangTags"
                    cdkDrag>
            {{ tag }}
            <mat-icon *ngIf="this.fluentLangTags.length > 1" matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #tagInputFluent
            (matChipInputTokenEnd)="add($event, fluentLangTags)"
            [matAutocomplete]="autoFluent"
            [matChipInputFor]="fluentChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            formControlName="fluentTags"
            placeholder="">
        </mat-chip-list>
        <mat-autocomplete #autoFluent="matAutocomplete" (optionSelected)="selectedFluent($event)">
          <mat-option *ngFor="let tag of filteredFluentTags | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="create-btn-div">
        <button
          (click)="saveTargetLangs()"
          [disabled]="!langFormGroup.valid"
          class="create-btn"
          color="primary"
          mat-raised-button
        >
          Save
        </button>
      </div>

    </form>
  </div>

  <div>
    <button
      (click)="openDialog()"
      class="delete-button"
      color="warn"
      mat-raised-button>
      <div class="provider-icon-wrapper">
        DELETE ACCOUNT
      </div>
    </button>

  </div>
</div>
