@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "assets/css/_essential_audio_core.css";
@import "assets/css/essential_audio_ribbon.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip.tooltip-red {
  font-size: 20px !important;
}
.thin-dialog .mat-dialog-container {
  padding: 0 !important;
}
