<mat-label class="my-label">Statistics</mat-label>
<br>
<mat-label class="my-label">Total cards: {{cards.length}}</mat-label>
<br>
<mat-label class="my-label">
  In learning: {{ this.learning }} ({{ calculatePercentage(this.learning, cards.length) }}%)
</mat-label>
<br>
<mat-label class="my-label">HI Frequency: {{ getHighestFrequency() }}</mat-label>
<br>
<mat-label class="my-label">LO Frequency: {{ getLowestFrequency() }}</mat-label>
<br>
<mat-label class="my-label">AVG Frequency: {{ getAverageFrequency() }}</mat-label>
<br>
<mat-label class="my-label">Login streak: {{ getUser().streak}}</mat-label>
<br>
<!--<mat-label class="my-label">Login streak: {{ getUser().}}</mat-label>-->
<br>

<mat-label class="my-label">Filter by:</mat-label>
<mat-select class="custom-mat-option" [(ngModel)]="filterBy" (ngModelChange)="sortCards()">
  <mat-option class="custom-mat-option" value="created">Created</mat-option>
</mat-select>
<br>
<br>
<mat-label class="my-label" *ngIf="!!filteredCards && filteredCards.length > 0">My cards</mat-label>
<div *ngFor="let card of filteredCards">
  <button mat-raised-button (click)="openDialogLocal(card, 'edit')">
    {{ card.entry }}
  </button>
</div>

<mat-label class="my-label" *ngIf="!!this.suggestedCards && this.suggestedCards.length > 0">Suggested card</mat-label>
<div *ngFor="let card of suggestedCards">
  <button mat-raised-button (click)="openDialogLocal(card,'suggest')">
    {{ card.entry }}
  </button>
</div>
<button
  color="primary"
  mat-raised-button
  class="provider-btn"
  (click)="navigateToProvider(googleURL)">
  <div class="provider-icon-wrapper">
    <img class="google-icon"
         src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    <div class="provider-text">
      Sign up with Google
    </div>
  </div>
</button>
<button
  color="primary"
  mat-raised-button
  class="provider-btn"
  (click)="navigateToProvider(facebookURL)">
  <div class="provider-icon-wrapper">
    <img class="fb-icon"
         src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"/>
    <div class="provider-text">
      Sign up with Facebook
    </div>
  </div>
</button>
